<h2>Orders for {{ store.name }}</h2>
<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Items</th>
            <th>Status</th>
            <th>Directions</th> <!-- Added column for Directions -->
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.customer.username }}</td>
            <td>
                {% for item in order.items.all %}
                    {{ item.product.name }}<br>
                {% endfor %}
            </td>
            <td>{{ order.status }}</td>
            <td>
                <!-- Google Maps link for directions -->
                <a href="https://www.google.com/maps/dir/{{ store.location }}+{{ order.delivery_address }}" target="_blank">
                    Get Directions
                </a>
            </td>
            <td>
                <a href="{% url 'update_order_status' order.id %}">Change Status</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
